{% extends 'layouts/base.njk' %}

{% block body %}
  <div class="min-h-screen flex w-full items-center justify-center">
    <a href="/login"
      class="bg-black px-2 py-3 hover:bg-zinc-800 hover:shadow-md rounded-md text-white">
      Get Started &rarr;
    </a>
  </div>
{% endblock %}
