:root{
  --base:#fff;
  --text:#343a40;
  --accent:black;
  --on-accent:white;
}

body{
  background:var(--base);
  color:var(--text);
}

button{
  border:1px solid var(--accent);
  outline:black;
  border-radius:6px;
  background:var(--accent);
  color:var(--on-accent);
  padding:4px 8px;
}

button.small{
  padding:2px 4px;
}