@import url('https://rsms.me/raster/raster2.css?v=20');
@import url('https://unpkg.com/highlightjs@9.16.2/styles/grayscale.css');

:root {
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --base: #fff;
  --text: #343a40;
  --subtle: #495057;
  --foreground-color: var(--text);
}

pre {
  padding: 10px;
  font-family: var(--font-mono);
}

.hljs {
  white-space: pre-wrap;
}

#search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

#search-container > input {
  border: 1px solid var(--subtle);
  width: 250px;
  padding: 10px;
  border-radius: 4px;
}

#search-container > #search-results {
  border: 1px solid #f1f3f5;
  width: 250px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
  border-radius: 4px;
}

#search-container > #search-results > .mudkip-search-item {
  padding: 10px;
}
