<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=Inter:400,600"
      rel="stylesheet" />
    <link rel="stylesheet" href="/public/styles.min.css" />
  </head>
  <body>
    <nav role="navigation" aria-label="main navigation"></nav>

    {% block body %}

    {% endblock %}

    <footer class="footer"></footer>
  </body>
</html>
