{% extends 'layouts/base.njk' %}

{% block body %}
  <section class="max-w-3xl mx-auto">
    <div class="min-h-screen flex w-full justify-center">
      <form action="/posts/{{ post.id }}/delete" method="POST" class="w-full">
        <h1 class="font-bold text-xl">
          Are you sure, you want to delete this Post?
        </h1>
        <p>
          This action is irreverisble.
        </p>
        {# Actions #}
        <div class="flex gap-2 items-center justify-end">
          <a href="/posts/{{ post.id }}" class="btn secondary">Cancel</a>
          <button class="btn !border-red-400 !bg-red-500 !text-white hover:!bg-red-700">
            Delete
          </button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
